$cor-primaria: #f1c40f;
$cor-secundaria: #f71963;
$cor-texto: #4e4e4e;
$cor-texto-claro: #9f9f9f;
$cor-texto-suave: #3b3b3b;
$cor-branca: #ffffff;
$cor-fundo: #f6f6f6;
$cor-borda: #e6e6e6;
$cor-azul-escuro: #101352;
$cor-cinza-escuro: #4e4e4e;
$cor-cinza-medio: #9f9f9f;
$cor-cinza-claro: #f6f6f6;
$cor-azul: #2a2b3d;
$cor-amarela: #ffc107;
$cor-roxa: #341c5f;

$fonte-principal: "Poppins", sans-serif;

$largura-container: 1280px;

$bp-celular: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-grande: 1280px;
